<div class="title">
  <a class="server card" href="/servers/server/{{server._id}}/Settings">
    <h2>Settings</h2>
  </a>
  <a class="server card" href="/attack">
    <h2>Attack</h2>
  </a>
</div>

<div class="main">
  <div class="left">

    <div class="container">
      <h1>Attack</h1>
      <form id="form" method="POST" action="/attack/{{server.id}}/">
        <div class="form-group">
        </div>
        <div class="input-group">
          <input type="text" id="username url" required name="Url" placeholder="Server Url">
          <input type="text" id="username dom" required name="Dom" placeholder="Server Domain">
          <input type="text" id="username times" required name="Times" placeholder="Times to attack">
        </div>

        <div class="buttons">
          <button>
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg class="icon" height="30" width="30" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M22,15.04C22,17.23 20.24,19 18.07,19H5.93C3.76,19 2,17.23 2,15.04C2,13.07 3.43,11.44 5.31,11.14C5.28,11 5.27,10.86 5.27,10.71C5.27,9.33 6.38,8.2 7.76,8.2C8.37,8.2 8.94,8.43 9.37,8.8C10.14,7.05 11.13,5.44 13.91,5.44C17.28,5.44 18.87,8.06 18.87,10.83C18.87,10.94 18.87,11.06 18.86,11.17C20.65,11.54 22,13.13 22,15.04Z">
                </path>
                </svg>
            </div>
          </div>
          <span>Attack</span>
          </button>
          <button id="stopBTN">
            <span>Stop</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="rigth">
    <div class="top">
      <h1>Attack History</h1>
      <p>Results ({{attackResults}})</p>
    </div>
    
    {{#if attack}}
      {{#each attack}}
        <a class="server card" href="/attacks/attack/{{_id}}">
          <p>Url: {{url}}</p>
          <p>Times: {{times}}</p>
          <p>Time: {{time}}</p>
        </a>
      {{/each}}
    {{else}}
      <a class="server">
        <h1>This server hasn't attacked</h1>
      </a>
    {{/if}}
  </div>
</div>

<script>
  const btn = document.querySelector('#stopBTN');
  const form = document.querySelector('#form');
  const url = document.querySelector('#url');
  const dom = document.querySelector('#dom');
  const times = document.querySelector('#times');

  btn.addEventListener('click', (e) => {
    e.preventDefault();

    const formAction = form.action;
    const serverID = formAction.split("/server/")[0].split("attack/")[1].split("/")[0]
    const inputs = document.querySelectorAll("input")

    location.href = `/attack/${serverID}/stop/${inputs[0].value}/${inputs[1].value}/${inputs[2].value}`;
  })
</script>

<style>

  .buttons{
    display: flex;
  }
  
  .buttons button{
    margin: 8px;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  body{
    overflow: hidden;
  }
  .main{ position: relative; } .server{ display: flex; justify-content: center;
  flex-direction: column; text-decoration: none; } .left, .rigth{ backdrop-filter: none !important;
   user-select: none; width: 35%; max-height:
  72vh;padding: 10px; margin: 40px; display: flex; justify-content: center;
  flex-wrap: wrap; border-radius: 15px; } .rigth{ backdrop-filter: brightness(0.7) !important; overflow: auto;} .main{
  display: flex; justify-content: center; flex-wrap: wrap; } body {
  background-color: #000; color: #fff; font-family: Arial, sans-serif; width:
  100vw; height: 100vh; } .container { height: 300px; width: 400px; color: #000; margin: 20px;
  padding: 40px; background: hsl(218deg 50% 91%); border-radius: 30px;
  text-align: center; } h1 { margin-bottom: 20px; } .form-group { margin-bottom:
  20px; text-align: left; } input[type="text"]{ width: 382px; padding: 8px;
  border: 1px solid #ccc; border-radius: 4px; } button[type="submit"] { width:
  100%; padding: 8px; background-color: #000; color: #fff; border: none;
  border-radius: 4px; cursor: pointer; } button[type="submit"]:hover {
  background-color: #333; } #username{ margin-bottom: 20px; } .container2{
  height: 200px; } .container2 button[type="submit"]{ background-color: red
  !important; }
  .top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
<style>
  input[type="text"]{margin-bottom: 20px !important;}
  input[type="text"]#DOM{ width: 52px !important; height: 15px; margin-left:
  15px; } .j90{ display: flex; } ::-webkit-scrollbar { width: 0px; }
</style>
<style>
  button {
      font-family: inherit;
      font-size: 20px;
      background: #000;
      color: #ffffff;
      fill: blue;
      padding: 0.7em 1em;
      padding-left: 0.9em;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 15px;
      font-weight: 1000;
      width: 100%;
      text-align: center;
      justify-content: center;
  }

  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }

  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }

  button:hover {
    background: #000;
    bor
  }

  button:hover .svg-wrapper {
    transform: scale(1.25);
    transition: .5s linear;
  }

  button:hover svg {
    transform: translateX(1.2em) scale(1.1);
    fill: #fff;
  }

  button:hover span {
    opacity: 0;
    transition: .5s linear;
  }

  button:active {
    transform: scale(0.95);
  }
  body{
    overflow: hidden;
  }
  .main{ position: relative; } .server{ display: flex; justify-content: center;
  flex-direction: column; text-decoration: none; } .left, .rigth{
  backdrop-filter: brightness(0.5); user-select: none; width: 35%; max-height:
  72vh;padding: 10px; margin: 40px; display: flex; justify-content: center;
  flex-wrap: wrap; border-radius: 15px; } .rigth{overflow: auto;} .main{
  display: flex; justify-content: center; flex-wrap: wrap; } body {
  background-color: #000; color: #fff; font-family: Arial, sans-serif; width:
  100vw; height: 100vh; } .container {
    width: 400px;
    color: #000;
    margin: 20px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(170px)drop-shadow(2px 4px 6px black);
} h1 { margin-bottom: 20px; } .form-group { margin-bottom:
  20px; text-align: left; } input[type="text"] {
    width: 360px;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 10px;
} button[type="submit"] { height: 50px; width:
  100%; padding: 8px; background-color: #000; color: #fff; border: none;
  border-radius: 4px; cursor: pointer; } button[type="submit"]:hover {
  background-color: #333; } #username{ margin-bottom: 20px; } .container2{
  height: 200px; } .container2 button[type="submit"]{ background-color: red
  !important; }
  .top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
</style>
<style>
  input[type="text"]#DOM{ width: 52px !important; height: 15px; margin-left:
  15px; } .j90{ display: flex; } ::-webkit-scrollbar { width: 0px; }
</style>
{{>ddos}}